.example {
  background-color: #eaeaea;
  width: 280px;
}

@media (min-width: @tablet-width) {
  .example {
    background-color: #ffffff;
  }
}

.example__progress {
  display: flex;
  justify-content: center;
}

@media (min-width: @tablet-width) {
  .example__progress-cost {
    display: flex;
  }
}

.example__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.example__text {

}

.example__achievement {
  display: flex;
  flex-direction: column;
  border: 1px solid #cdcdcd;
  position: relative;

  &::after {
    content: "снижение веса";
    position: absolute;
    right: 16px;
    left: 16px;
    bottom: -10px;
    background-color: #eaeaea;
  }
}

.example__achievement-total {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.example__achievement-total-text::after {
  font-family: "Lato";
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  width: 70px;

  @media (min-width: @tablet-width) {
    background-color: #f2f2f2;
  }
}

.example__cost {
  text-transform: uppercase;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .example__cost {
    width: 180px;
  }
}

.example__cost-amount {
  text-transform: uppercase;
}


