.example {
  background-color: #eaeaea;
}

@media (min-width: @tablet-width) {

  .example {
    background-color: #ffffff;
  }
}

.example__progress {
  display: flex;
}

.example__title {

}

.example__text {

}

.example__achievement {
  display: flex;
  flex-direction: column;
}

.example__achievement-total {

}

.example__achievement-total-text {

}

.example__cost {

}

.example__cost-amount {

}


