.product {
  margin-bottom: 30px;
}

.product__catalog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.product__link-title {
  text-decoration: none;
}

.product__title {
  font-family: "Oswald";
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  list-style-type: none;
  color: #222222;
}

@media (min-width: @tablet-width) {
  .product__title {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .product__title {
    font-size: 20px;
    line-height: 24px;
  }
}

.product__slogan {
  font-family: "Oswald";
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

@media (min-width: @tablet-width) {
  .product__slogan {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .product__slogan {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }
}

.product__info {

}

@media (min-width: @tablet-width) {
  .product {
    background-color: #f2f2f2;
    color: #000000;
  }
}

@media (min-width: @desktop-width) {
  .product {
    background-color: #f2f2f2;
    color: #000000;
  }
}

.product__button {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 44px;
  background-color: #68b738;
}

@media (min-width: @tablet-width) {
  .product__row-left,
  .product__row-right {
    border-bottom: 1px solid #cdcdcd;
  }
}

@media (min-width: @tablet-width) {
  .product__row-right {
    padding-left: 200px;
  }
}
