.product {
  background-color: #68b738;
  color: #ffffff;
}

.product__link-title {

}

.product__title {

}

.product__info {

}

@media (min-width: @tablet-width) {

  .product {
    background-color: #ffffff;
    color: #000000;
  }
}

@media (min-width: @desktop-width) {
  .product {
    background-color: #ffffff;
    color: #000000;
  }
}
