.strenghts {
  width: 280px;
  margin-bottom: 30px;
}

.strenghts__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

@media (min-width: @tablet-width) {
  .strenghts__title {
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: @desktop-width) {
  .strenghts__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.strenghts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.strenghts__item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: 50% -30%;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
    }
  }
}

.strenghts__text {
  margin-left: 70px;

  @media (min-width: @mobile-width-only) {
    br {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .strenghts__text {
    max-width: 250px;
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-top: 70px;
  }
}

.strenghts__item--leaf::before {
  background-image: url("..//img/leaf.svg");
  background-repeat: no-repeat;
}

.strenghts__item--leaf::after {
  position: absolute;
  content: "";
  background-image: url("..//img/one.svg");
  background-repeat: no-repeat;
  width: 112px;
  height: 208px;
  opacity: 50%;
}

.strenghts__item--bowl::before {
  background-image: url("..//img/bowl.svg");
  background-repeat: no-repeat;
}

.strenghts__item--cutlery::before {
  background-image: url("..//img/cutlery.svg");
  background-repeat: no-repeat;
}

.strenghts__item--clock::before {
  background-image: url("..//img/clock.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .strenghts__item--leaf::before {
    background-image: url("..//img/leaf.svg");
    background-repeat: no-repeat;
    background-position: 50% -150%;
  }
}

@media (min-width: @tablet-width) {
  .strenghts {

  }

  .strenghts__list {
    display: grid;
    grid-template-columns: 230px 230px;
    grid-column-gap: 100px;
  }
}

@media (min-width: @desktop-width) {
  .strenghts {

  }

  .strenghts__list {
    display: flex;
  }
}
